<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add key</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <center><h1 class="title">Add key</h1></center>
    <form class="form" method="post"><center>
      <input class="input" type="text" name="name" placeholder="E-Mail or Username"><br>
      <input class="input" type="password" name="pass" placeholder="Password"><br>
      <input class="input" type="text" name="key" placeholder="Key"><br>
      <button class="bigbtn" type="submit">Confirm</button>
    </center></form>
  </body>
</html>
<style media="screen">

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

*{
  box-sizing: border-box;
}

a{
  color: #fff;
  font-weight: bold;
}

body{
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgb(24, 26, 27);
  color: #fff;
}

.mainTitle{
  background-color: rgba(240,240,240,0);
  height: 100px;
  padding-top: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.mainTitle > .title{
  font-size: 30px;
  font-weight: 600;
  margin-left: 100px;
  width: 150px;
  border-bottom: 2px solid rgb(31, 33, 35);
}

.titleLinks{
  text-decoration: underline;
  font-size: 15;
  font-weight: 500;
  float: right;
}

.header{
  text-align: center;
}

.header > h1{
  margin-bottom: 0;
}

.itemlist{
  text-align: center;
  padding: 10px;
  padding-top: 20px;
}

.form{
  width: 50%;
  margin: 100px auto;
}


.input{
  width: 50%;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: rgba(0,0,0,0.1) solid;
  background-color: rgba(255,255,255,0.1);
  color: #fff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

option{
  background-color: rgb(31, 33, 35);
}

.bigbtn{
  width: 100%;
  margin: 0 auto;
  background-color: rgb(140, 232, 2);
  border: none;
  padding: 15px;
  width: 49%;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.bigbtn:hover{
  background-color: rgb(111, 186, 0);
}

.bigbtn:disabled{
  background-color: rgb(127, 127, 127);
  color: black;
}


.storebtn{
  background-color: rgb(18, 160, 226);
}

.storebtn:hover{
  background-color: rgb(20, 144, 201);
}


.info{
  width: 100%;
  min-height: 200px;
  padding: 10px 15% 10px 15%;
  text-align: justify;
}

.info > h2{
  float: left;
  width: 100%;
  padding-left: 40px;
}

.infoBorder{
  background-color: rgb(31, 33, 35);
  width: 70%;
  height: 3px;
  margin: 40px auto;
}

#video{
  width: 50%;
}

.footer{
  margin-top: 100px;
  width: 100%;
  background-color: rgb(31, 33, 35);
  text-align: center;
  padding: 50px;
}

@media screen and (max-width: 600px) {
  #video{
    width: 100%;
  }

  .form{
    width: 90%;
    margin: 0 auto;
  }
}


</style>
