<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="form" method="post">
      <input type="password" name="pass" placeholder="password">
      <button type="submit" name="button">Login</button>
    </form>
  </body>
</html>
