<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Key</title>
  </head>
  <body>
    <form class="form" method="post">
      <input type="text" name="key">
      <button type="subit">Add key</button>
    </form>
    <div class="">
      <%= keys %>
    </div><br><br><br>
      <%= users %>
  </body>
</html>
